.popup__form-name {
  margin-top: 54px;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-name:focus {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.popup__form-name:active {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
