.popup__container {
  position: relative;
  max-width: 430px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 459px) and (max-width: 768px) {
  .popup__container {
    align-items: flex-start;
    margin-top: 123px;
  }
}

@media screen and (min-width: 320px) and (max-width: 458px) {
  .popup__container {
    max-width: calc(100% - 38px);
    align-items: flex-start;
    margin-top: 123px;
  }
}
