.footer {
  max-width: calc(100% - 400px);
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 100px);
    margin-top: 48px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 100px);
    margin-top: 48px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: calc(100% - 38px);
    margin-top: 48px;
    margin-bottom: 24px;
  }
}
