.profile__info-edit {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background: url(../../../images/edit.png) center center no-repeat;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.profile__info-edit:hover {
  opacity: 0.6;
}
