.profile__info-title {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

@media screen and (min-width: 321px) and (max-width: 458px) {
  .profile__info-title {
    font-size: 27px;
    line-height: 1.21;
  }
}

@media screen and (max-width: 320px) {
  .profile__info-title {
    font-size: 27px;
    line-height: 1.21;
  }
}
